@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat-regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat Extralight';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat-extralight.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Semibold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Extrabold';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/raleway-extrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-regular.ttf) format('truetype');
}
html{
    line-height: 1;
}
body {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}
p, ul, h4{
    margin: 0;
}
.section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-title{
    height: 28px;
    margin: 0 auto 24px;
    text-align: center;
    color: #555555;
    white-space: nowrap;
    font-family: 'Raleway Semibold', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.section-text{
    max-width: 760px;
    margin: 0 auto 40px;
    color: #8c8c8c;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
button{
    font-size: 14px;
}
/*-----------------HEADER------------------*/
.header{
    min-height: 1000px;
    margin: 0;
    position: relative;
    background-color: #23272f;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/content/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 40px 0;
}
.navigation{
    position: relative;
    height: 56px;
    margin-bottom: 285px;
    display: flex;
    justify-content: center;
}
.menu-icon{
    display: none;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
}
.logo-image{
    fill: #ffffff;
}
.logo-txt{
    color: #ffffff;
    line-height: 56px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 34px;
    letter-spacing: -1.36px;
}
.logo:hover .logo-image{
    opacity: 0.7;
}
.logo:hover .logo-txt{
    color: #c7b299;
}
.logo:active .logo-txt{
    color: #736357;
}
.logo:active .logo-image{
    opacity: 0.7;
}
/*------------------MENU-------------------*/
.nav {
    display: flex;
    min-width: 770px;
    margin: 0;
    padding-left: 220px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
}
.nav-list{
    margin: 0;
    padding: 0 63px 0 0;
    max-width: 637px;
    display: flex;
    justify-content: space-between;
}
.nav-list-item{
    list-style-type: none;
    white-space: nowrap;
    padding-right: 15px;
}
.nav-list-item:last-child{
    padding-right: 0;
}
.nav-link{
    color: #ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.nav-link:hover{
    color: #c7b299;
}
.nav-link:active{
    opacity: 0.7;
}
.cart-button{
    fill: #ffffff;
    background-color: transparent;
    outline-style: none;
    border: none;
}
.search-form{
    width: 24px;
    height: 24px;
    position: relative;
    padding: 16px 0 0 25px;
    box-sizing: border-box;
}
.search-field{
    width: 0;
    min-height: 0;
    position: absolute;
    top: 16px;
    right: -24px;
    margin-top: 40px;
    padding: 5px;
    outline-style: none;
    border: none;
    background-color: transparent;
}
.search-field-label{
    display: block;
    width: 100%;
    height: 100%;
}
.search-icon{
    fill: #ffffff;
}
.search-field:focus {
    display: block;
    width: 300px;
    transition: width 0.3s ease-out;
    color: #c7b299;
    font-family: 'Courier', monospace;
    font-size: 14px;
    border: 1px solid #fff;
}
.search-field::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
.cart-button:hover{
    opacity: 0.7;
}
.cart-button:active{
    fill: #c7b299;
}
/*---------------SLIDER------------------*/
.slider-container{
    display: flex;
    position: relative;
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.slider{
    width: 600px;
    min-height: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
.slider-wrapper{
    display: flex;
    transition: transform .8s ease;
}
.slide{
    min-width: 600px;
    min-height: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
.slider-subtitle{
    display: block;
    color: #ffffff;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 36px;
}
.slider-title{
    margin: 0;
    color: #ffffff;
    font-family: 'Raleway Extrabold', 'Arial Black', sans-serif;
    font-size: 52px;
    line-height: 66px;
    white-space: nowrap;
}
.slider-text{
    min-height: 100px;
    margin: 0 0 52px 0;
    padding-top: 20px;
    color: #ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.slider-button, .cta-button, .load-button{
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway Extrabold', 'Arial Black', sans-serif;
    border: none;
    outline-style: none;
    -o-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.slider-button:active, .cta-button:active, .load-button:active, .filter-button:active{
    opacity: 0.7;
}
.slider-button:focus{
    outline: none;
}
.slider-arrow{
    content: '';
    width: 40px;
    height: 40px;
    background-color: transparent;
    opacity: 0.5;
    box-sizing: border-box;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(-135deg);
}
.slider-arrow:last-of-type{
    transform: rotate(45deg);
}
.slider-arrow:hover{
    border-color: #d3c1ad;
    opacity: 1;
}
.break {
    flex-basis: 100%;
    height: 300px;
}
[id^="slide"]{
    position: absolute;
    z-index: -1;
}
#slide-1:checked ~ .slider-wrapper {
    transform: translate(0);
}
#slide-2:checked ~ .slider-wrapper {
    transform: translate(-600px);
}
#slide-3:checked ~ .slider-wrapper {
    transform: translate(-1200px);
}
#slide-4:checked ~ .slider-wrapper {
    transform: translate(-1800px);
}
#slide-5:checked ~ .slider-wrapper {
    transform: translate(-2400px);
}
.pagination{
    content: "";
    width: 100px;
    height: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-item{
    display: block;
    width: 11px;
    height: 11px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
}
.pagination-item:hover{
    transform: scale(1.2);
    border: 2px solid #d3c1ad;
}
/*-----------------OFFER------------------*/
.offer{
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.service{
    width: 266px;
    color: #8c8c8c;
    margin: 0 16px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.service:after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}
.service:hover .service-image {
    fill: #c7b299;
}
.service:hover .service-title {
    color: #c7b299;
}
.service:hover:after{
    background-color: #c7b299;
}
.service-link{
    text-decoration: none;
}
.service-image{
    display: block;
    margin: 0 auto;
    fill: #555555;
}
.service-title{
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    color: #555555;
    font-family: 'Raleway Semibold', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;
}
.service-text{
    margin: 0 0 30px;
    color: #8c8c8c;
    text-align: center;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
/*---------------INTEGRATION-----------------*/
.integration{
    background-color: #fbfaf8;
}
.integration-photo{
    max-width: 1230px;

    min-height: 480px;
    margin: 0 auto;
    background-image: url(../img/content/browser-center.jpg), url(../img/content/browser-left.jpg), url(../img/content/browser-right.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top, bottom left, bottom right;
    background-size: contain, auto, auto;
}
/*-----------------PURCHASE------------------*/
.purchase{
    display: flex;
    height: 150px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.calltoaction{
    padding-right: 470px;
    box-sizing: border-box;
}
.calltoaction-title{
    margin-bottom: 6px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}
.product-name{
    color: #c7b299;
}
.calltoaction-text{
    color: #615855;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 18px;
}
.cta-button{
    width: 170px;
    align-self: center;
}
.cta-button:hover, .load-button:hover, .slider-button:hover{
    transform: translateY(-15px);
}
/*-----------------PROJECTS------------------*/
.filter{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.filter-button{
    height: 32px;
    margin-right: 10px;
    padding: 0 20px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline-style: none;
    white-space: nowrap;
    background-color: #ffffff;
    color: #998675;
}
.filter-button:nth-of-type(5){
    margin-right: 0;
}
.filter-button:hover{
    background-color: #998675;
    color: #ffffff;
}
.filter-button:active{
    background-color: #998675;
    color: #ffffff;
}
.projects-container{
    max-width: 1170px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-project{
    position: relative;
    margin-bottom: 30px;
    background-color: #fbfaf8;
}
.about-project:hover{
    background-color: #362f2d;
}
.link-icon, .zoom-icon{
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 5;
    visibility: hidden;
}
.about-project:hover .link-icon, .about-project:hover .zoom-icon{
    visibility: visible;
}
.link-icon{
    fill: #c7b299;
    top: 106px;
    left: 144px;
}
.zoom-icon{
    fill: #ffffff;
    top: 106px;
    left: 194px;
}
.project-link{
    display: block;
    position: relative;
    width: 370px;
    height: 237px;
    margin-bottom: 30px;
}
.about-project:hover .project-photo{
    filter: brightness(50%);
}
.project-link:after{
    display: block;
    content: '';
    position: absolute;
    top: 212px;
    left: 20px;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}
.about-project:hover .project-link:after{
    border-bottom: 10px solid #362f2d;
}
.project-title, .project-category{
    padding-left: 30px;
}
.project-title{
    display: block;
    margin-bottom: 14px;
    color: #c7b299;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.project-category{
    margin-bottom: 30px;
    color: #d1d1d1;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.load-button{
    display: block;
    margin: 0 auto;
}
/*------------------VIDEO-------------------*/
.video-container{
    min-height: 700px;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    padding-top: 225px;
    overflow:hidden;
    /*background-color: #23272f;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/content/video-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1920px auto;*/
}
.timestamp{
    color: #c7b299;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.video-button, .timestamp {
    display: block;
    margin: auto;
}
.video-button{
    width: 100px;
    height: 100px;
    padding: 0;
    margin-bottom: 45px;
    fill: #ffffff;
    border-style: none;
    border-radius: 50%;
    outline-style: none;
    background-color: transparent;
    backdrop-filter: brightness(80%);
}
.video-button:hover{
    backdrop-filter: brightness(90%);
}
.video-button-icon{
    background-color: transparent;
}.video-title{
     color: #ffffff;
     font-weight: 500;
 }
.video-description{
    color: #ffffff;
}
.video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
}
/*------------------MOBILE-------------------*/
.mobile{
    display: flex;
    justify-content: center;
    background-color: #fbfaf8;
    padding-bottom: 0;
}
.mockup-container{
    max-width: 660px;
    padding-top: 115px;
}
.mobile .section-title{
    text-align: left;
    margin-bottom: 40px;
}
.mockup-text{
    padding-bottom: 45px;
    color: #8c8c8c;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.advantage-list{
    max-width: 660px;
    padding-left: 100px;
    list-style-type: none;
    position: relative;
}
.advantage-list-item{
    color: #8c8c8c;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}
.advantage-list-item:before{
    content: "";
    display: block;
    height: 32px;
    width: 21px;
    position: absolute;
    left: 50px;
    background-image: url("../img/graphics/list-marker-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.mobile:after{
    content: "";
    clear: both;
}
/*----------------INFOGRAFICS-----------------*/
.infographics{
    display: flex;
    justify-content: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.counter{
    min-width: 120px;
    margin-right: 100px;
    text-align: center;
}
.counter:nth-of-type(5){
    margin-right: 0;
}
.counter-image{
    padding-bottom: 30px;
    fill: #c7b299;
}
.counter-value, .counter-title{
    display: block;
}
.counter-value{
    color: #ffffff;
    font-family: 'Montserrat Extralight', 'Arial Light', sans-serif;
    font-size: 48px;
    line-height: 36px;
    padding-bottom: 20px;
}
.counter-title{
    padding-bottom: 30px;
    white-space: nowrap;
    color: #c7b299;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}
.counter:after{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #ffffff;
}
/*----------------BLOG-----------------------*/
.posts-container{
    max-width: 1170px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post{
    width: 370px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border: 1px solid #f8f8f8;
}
.post:hover{
    background-color: #362f2d;
}
.date, .month{
    position: absolute;
    display: block;
    width: 50px;
    text-align: center;
}
.date{
    top: 20px;
    left: 20px;
    height: 35px;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    color: #ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
}
.month{
    top: 55px;
    left: 20px;
    height: 25px;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 12px;
    line-height: 25px;
}
.post:hover .date{
    background-color: #c7b299;
}
.post:hover .month{
    background-color: #a48d72;
}
.post-photo{
    display: block;
}
.post-title, .post-preview, .article-link{
    padding-left: 30px;
}
.post-title{
    display: block;
    margin: 30px 0 20px;
    color: #555555;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.post-preview{
    margin-bottom: 25px;
    color: #8c8c8c;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.post:hover .post-title{
    color: #c7b299;
}
.post:hover .post-preview{
    color: #ffffff;
}
.article-link{
    display: block;
    position: relative;
    color: #c7b299;
    text-decoration: none;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.article-link:hover{
    opacity: 0.7;
}
.article-link:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 110px;
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
}
.listing{
    margin: 0;
    text-align: center;
}
.arrow{
    fill: #d1d1d1;
}
.arrow:hover{
    fill: #c7b299;
}
/*----------------PARTNERS--------------------*/
.partners{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 137px 0;
    background-color: #23272f;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/content/partners-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    backdrop-filter: brightness(80%);
}
.partner-link{display: block;
    margin-right: 90px;
}
.partner-link:nth-of-type(4){
    margin-right: 0;
}
/*----------------FOOTER--------------------*/
.extra{
    display: flex;
    justify-content: center;
    background-color: #191919;
}
.footer-column{
    width: 270px;
    box-sizing: border-box;
    margin: 0 20px;
}
.footer .logo{
    margin-bottom: 30px;
}
.footer .logo-image{
    fill: #ffffff;
}
.footer .logo-text{
    color: #ffffff;
}
.footer-text{
    color: #555555;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.about{
    line-height: 24px;
}
.footer .article-link{
    margin-top: 30px;
    padding-left: 0;
}
.footer .article-link:after{
    left: 80px;
}
.footer-title{
    color: #ffffff;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    margin-bottom: 22px;
}
.footer-post{
    padding: 20px 0;
    border-bottom: 1px solid #252525;
}
.footer-post:nth-of-type(1){
    padding-top: 0;
}
.footer-post:hover .post-date, .footer-post:hover .twit-date{
    color: #ffffff;
}
.footer-post:hover .footer-text{
    color: #c7b299;
}
.footer-post:nth-of-type(3){
    border-bottom: none;
}
.post-date, .twit-date{
    display: block;
    color: #363636;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.post-date{
    margin-bottom: 12px;
}
.twit-date{
    margin-top: 12px;
}
.mention, .hashtag{
    color: #00bff3;
    text-decoration: none;
}
.widget{
    min-height: 206px;
    min-width: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.dribble-link{
    width: 130px;
    height: 98px;
    text-decoration: none;
}
/*----------------COPYRIGHT-----------------*/
.copyright{
    height: 111px;
    line-height: 111px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #111111;
}
.copyright .footer-link{
    padding-right: 20px;
    white-space: nowrap;
}
.copyright .footer-link:nth-of-type(6){
    padding-right: 0;
}
.footer-link{
    text-decoration: none;
    color: #555555;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.footer-link:hover{
    color: #c7b299;
}
.footer-link:nth-of-type(5){
    margin-left: 450px;
}
.origin{
    color: #959595;
}
/*----------------tablet------------------*/
@media all and (max-width: 1480px){
    .nav{
        min-width: 920px;
    }
    .integration-photo {
        background-image: url(../img/content/browser-center.jpg);
    }
}
@media all and (max-width: 1224px){
    .header{
        min-height: 700px;
    }
    .logo-txt{
        font-size: 24px;
    }
    .navigation{
        margin-bottom: 100px;
        padding: 0 20px;
    }
    .nav{
        padding-left: 56px;
        min-width: 500px;
    }
    .nav-list{
        padding-right: 50px;
    }
    .search-form{
        padding-left: 14px;
    }
    .section{
        padding: 40px;
    }
    .slider-container{
        padding: 0 40px;
    }
    .slider-arrow{
        display: none;
    }
    .break{
        height: 100px;
    }
    .projects-container, .posts-container{
        justify-content: space-evenly;
    }
    .post:nth-of-type(3){
        display: none;
    }
    .video {
        width: auto;
        height: 100%;
    }
    .calltoaction{
        padding-right: 230px;
    }
    .mobile{
        padding-bottom: 0;
    }
    .mockup-container{
        padding-top: 40px;
    }
    .infographics{
        justify-content: space-evenly;
    }
    .counter{
        margin: 0;
    }
    .partners{
        padding: 80px 0;
    }
    .partner-logo-image{
        width: 105px;
    }
    .footer-link:nth-of-type(5){
        margin-left: 150px;
    }
    .copyright {
        height: 80px;
        line-height: 80px;
    }
}
@media all and (max-width: 992px){
    .header{
        min-height: 600px;
    }
    header .logo, .mockup-image, .counter-image{
        display: none;
    }
    .navigation{
        margin-bottom: 50px;
    }
    .nav{
        padding-left: 0;
    }
    .search-field:focus {
        width: 150px;
    }
    .break{
        height: 80px;
    }
    .offer{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .service{
        margin: 20px 16px 40px ;
        width: 40%;
    }
    .service-title{
        margin-top: 16px;
    }
    .integration-photo{
        min-height: 400px;
    }
    .calltoaction{
        padding-right: 50px;
    }
    .calltoaction-title{
        font-size: 22px;
    }
    .calltoaction-text{
        font-size: 14px;
    }
    .mockup-container{
        padding-top: 0;
    }
    .advantage-list-item{
        line-height: 28px;
    }
    .about-project:nth-of-type(5), .about-project:nth-of-type(6){
        display: none;
    }
    .mobile{
        padding-bottom: 50px;
    }
    .infographics{
        justify-content: space-evenly;
    }
    .counter{
        margin: 0;
    }
    .counter-value{
        font-size: 24px;
        line-height: 18px;
        padding-bottom: 10px;
    }
    .counter-title{
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 16px;
    }
    .post:nth-of-type(2){
        display: none;
    }
    .extra{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .copyright {
        height: 60px;
        line-height: 60px;
    }
    .footer-link:nth-of-type(5){
        margin-left: 0;
    }
}
@media all and (max-width: 900px){
    .header{
        min-height: 500px;
        padding-bottom: 0;
    }
    .navigation{
        height: 28px;
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .nav-list{
        display: none;
    }
    .menu-icon{
        display: block;
        position: absolute;
        left: 40px;
        top: 5px;
        align-self: flex-start;
        z-index: 3;
    }
    .show {
        display: block;
        margin-left: -45px;
        padding: 35px 5px;
        font-size: 12px;
        background: linear-gradient(to right, #615855 30%, transparent);
        z-index: 2;
    }
    .slider-container{
        padding: 0;
    }
    .slider-title{
        font-size: 48px;
    }
    .slider-subtitle{
        font-size: 28px;
    }
    .slider-text{
        margin-bottom: 30px;
    }
    .break{
        height: 40px;
    }
    .nav{
        min-width: 300px;
        position: absolute;
        left: 80px;
        justify-content: space-between;
    }
    .nav-list{
        padding-right: 0;
        flex-direction: column;
        align-self: flex-start;
    }
    .nav-link{
        line-height: 1.5;
    }
    .cart-button{
        position: absolute;
        right: 60px;
        top: 5px;
        z-index: 3;
    }
    .search-form{
        position: absolute;
        right: 40px;
        top: -8px;
        z-index: 3;
    }
    .video-container{
        min-height: 500px;
        padding-top: 120px;
    }
}
@media all and (max-width: 786px){
    .slider-subtitle{
        font-size: 26px;
    }
    .slider-title{
        font-size: 42px;
    }
    .purchase{
        padding: 0 10px 0;
    }
    .calltoaction-title {
        font-size: 18px;
    }
    .calltoaction-text {
        font-size: 12px;
    }
    .about-project{
        width: 300px;
        height: 100%;
    }
    .about-project:nth-of-type(3), .about-project:nth-of-type(4), .about-project:nth-of-type(5), .about-project:nth-of-type(6){
        display: none;
    }
    .project-photo{
        width: 300px;
    }
    .project-link{
        width: 300px;
    }
    .link-icon{
        left: 112px;
    }
    .zoom-icon{
        left: 160px;
    }
    .infographics, .partners, .footer-column:last-of-type{
        display: none;
    }
    .extra{
        padding: 40px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .extra:nth-child(1) {
        order: 2;
    }
    .extra:nth-child(2) {
        order: -1;
    }
    .extra>article{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-title{
        font-family: 'Raleway', 'Arial', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }
    .footer-post{
        margin-bottom: 20px;
    }
    .footer-post:nth-of-type(2), .footer-post:nth-of-type(3),
    .footer-link:nth-of-type(5), .footer-link:nth-of-type(6){
        display: none;
    }
}
@media all and (max-width: 618px){
    .slider{
        width: 460px;
    }
    .slide{
        min-width: 460px;
    }
    .slider-subtitle{
        font-size: 18px;
    }
    .slider-title{
        font-size: 36px;
    }
    .slider-text{
        width: 460px;
        padding-top: 0;
        font-size: 14px;
    }
    #slide-1:checked ~ .slider-wrapper {
        transform: translate(0);
    }
    #slide-2:checked ~ .slider-wrapper {
        transform: translate(-460px);
    }
    #slide-3:checked ~ .slider-wrapper {
        transform: translate(-920px);
    }
    #slide-4:checked ~ .slider-wrapper {
        transform: translate(-1380px);
    }
    #slide-5:checked ~ .slider-wrapper {
        transform: translate(-1840px);
    }
    .purchase{
        padding: 0 25px 0;
        box-sizing: border-box;
    }
    .filter{
        flex-wrap: wrap;
    }
    .filter-button{
        margin-bottom: 10px;
    }
    .about-project:nth-of-type(2){
        display: none;
    }
    .video-container{
        display: none;
    }
    .extra{
        padding: 20px 20px 0;
    }
}
@media all and (max-width: 576px){
    .section-text, .mockup-text, .advantage-list-item{
        font-size: 14px;
    }
    .section-title{
        font-size: 26px;
    }
    .logo, .break .service-image, .infographics, .partners{
        display: none;
    }
    .break{
        display: none;
    }
    button{
        font-size: 14px;
    }
    .service{
        margin-bottom: 0;
    }
    .service-title{
        font-size: 18px;
        margin-top: 30px;
    }
    .service-text{
        margin-bottom: 20px;
    }
    .calltoaction{
        padding-right: 20px;
    }
    .calltoaction-title{
        font-size: 18px;
    }
    .calltoaction-text{
        font-size: 12px;
    }
    .cta-button, .load-button{
        font-size: 12px;
        width: 140px;
    }
    .about-project, .project-photo {
        width: 370px;
    }
    .mobile .section-title{
        text-align: center;
    }
    .mockup-text{
        line-height: 22px;
    }
    .extra>article{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-title{
        font-family: 'Raleway', 'Arial', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .footer-post{
        margin-bottom: 20px;
    }
    .footer-post:nth-of-type(2), .footer-post:nth-of-type(3),
    .footer-link:nth-of-type(5), .footer-link:nth-of-type(6){
        display: none;
    }
}
/*----------------mobile------------------*/
@media all and (max-width: 480px){
    .header{
        min-height: 430px;
    }
    .navigation{
        margin-bottom: 0;
    }
    .menu-icon, .cart-button, .search-icon{
        width: 30px;
    }
    .slider, .slide{
        min-height: 270px;
    }
    .slider-text{
        margin-bottom: 0;
    }
    .section{
        min-width: 320px;
        padding: 30px 0 20px;
        box-sizing: border-box;
    }
    .section-title{
        font-size: 22px;
        margin-bottom: 16px;
    }
    .section-text{
        max-width: 320px;
        margin-bottom: 10px;
    }
    .integration .section-text{
        margin-bottom: 0;
    }
    .nav-link{
        line-height: 2;
    }
    .service{
        width: 170px;
        margin: 0 0 10px;
    }
    .service-title{
        font-size: 16px;
    }
    .service-text, .integration-photo{
        display: none;
    }
    .calltoaction{
        display: none;
    }
    .cta-button{
        width: 170px;
    }
    .filter{
        margin: 0 0 20px;
    }
    .filter-button{
        margin-right: 15px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .mobile{
        display: none;
    }
}